html {
    height: 100%;
}

body {
    background: white;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
/*    min-height: 100%;*/
}

h1,
h2,
h3,
h4,
h5 {
    min-width: 250px;
}

h3 {
    font-weight: 400;
}

h4 {
    color: #777;
    text-transform: uppercase;
}

a {
  text-decoration: none;
    color: #C33;
    cursor: pointer;
}

a:visited {
    color: #C33;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

form {
    margin: 20px 0;
}

#submit-form {
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
    box-shadow: 0px 1px 5px #777;
}

input:not([type]),
input[type="text"],
textarea {
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
    max-width: 550px;
    padding: 5px;
    box-sizing: border-box;
    margin: 3px 0;
    background-color: #fafafa;
}

.info-heading {
    font-size: 12px;
    color: #777;
}

#nav-bar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-container {
    display: flex;
    height: 55px;
    line-height: 55px;
    padding: 0px 12px 0px 8px;
    color: #666;
    font-size: 21px;
    padding-left: calc(100vw - 100% + 8px);
    max-width: 950px;
    margin: auto;
}

#nav-left,
#nav-right,
#nav-center {
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    /*    height: 25px;*/
    /*    line-height: inherit;*/
    display: inline-block;
    line-height: inherit;
}

#nav-center {
    text-align: center;
}

#nav-right {
    text-align: right;
}

.nav-left-text {}

.nav-center-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    text-align: center;
}

.page-container {
    padding-left: calc(100vw - 100%);
    max-width: 950px;
    margin: auto;
    display: flex;
}

.page {
    padding: 11px;
    box-sizing: border-box;
}

#front-page {
    flex: 1 1 auto;
    overflow: hidden;
}

#user-page {
    flex: 0 0 300px;
    border-left: 1px solid rgba(0, 0, 0, .06);
    border-right: 1px solid rgba(0, 0, 0, .06);
    background-color: rgba(0, 0, 0, .03);
    min-height: calc(100vh - 56px);
    /*    box-shadow: 0px 0px 5px inset;*/
}

#class-info {
    /*    padding-bottom: 10px;*/
}

#join-class-container {
    /*    text-align: right;*/
}

#class-container {
    /*   text-align: right;*/
    color: #999;
}

#gallery-title {
    position: relative;
    margin-bottom: .9em;
    /*    width: fit-content;*/
}

#gallery-title:focus {
    max-height: none;
}

#gallery-title:before {
    content: "GALLERY";
    position: absolute;
    top: -14px;
    line-height: 14px;
    font-size: 14px;
/*    color: #888;*/
    color: #c33;
    font-weight: 300;
}

#gallery-date {
    margin: none;
    color: #333;
}

#gallery-prompt, #comment-prompt {
    /*    padding: 20px 0 20px 0;*/
    position: relative;
    margin: 10px 0; /*34px*/
    font-weight: 400
    /*    width: fit-content;*/
}

#gallery-prompt:before {
    content: "STUDENT INSTRUCTIONS";
    position: absolute;
    top: -18px;
    line-height: 14px;
    font-size: 14px;
/*    color: #888;*/
    color: #c33;
    font-weight: 300;
}

/*
#comment-prompt:before {
    content: "EVALUATOR INSTRUCTIONS";
    position: absolute;
    top: -18px;
    line-height: 14px;
    font-size: 14px;
    color: #999;
    font-weight: 200;
}
*/

.metric {
    display: inline-block;
    color: #999;
/*
    background: #f1f1f1;
    color: #666;
    line-height: 28px;
    border-radius: 14px;
    padding: 0 9px;
*/
    margin: 7px 12px 0 0;
}

.logo {
    display: block;
    background-image: url(imgs/logo.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 31px;
    box-sizing: border-box;
    margin: 12px 5px;
}

#add-gallery-container {
    text-align: right;
    margin-top: -35px;
}

.fa-folder, .fa-broadcast-tower {
    color: #bbb;
}

.pointer {
    cursor: pointer;
}

.admin {
    position: relative;
    margin-top: 40px;
    padding-top: 1px;
}

.admin:before {
    content: "ADMIN TOOLS";
    position: absolute;
    top: -8px;
    line-height: 16px;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

[contenteditable="true"] {
    /*    width: fit-content;*/
    min-width: 10px;
    outline: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: #bbb;
}

[contenteditable="true"]:focus {
    color: red;
    text-decoration: underline;
}

.user-page-buttons {
    text-align: right;
    color: #aaa;
}

#user-photo {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 11px 0;
    border: 1px solid #aaa;
}

.user-icon,
.toggle-user-page {
    cursor: pointer;
    font-size: 28px;
    line-height: inherit;
    color: #bbb;
}

.button.post-filter {
    line-height: 15px;
    padding: 5px;
    height: auto;
    margin: 0 0;
    font-size: 14px;
    background: rgba(0,0,0,.03);
/*    text-decoration: underline;*/
}

#filter-bar {
    padding: 7px;
    margin-top: 20px;
/*    border-top: 1px solid #ddd;*/
    background: #f5f5f5;
}

#filter-current {
    width: fit-content;
    margin: auto;
    font-size: 16px;
    color: #C33;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
}

#filter-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.button,
button {
    cursor: pointer;
    box-sizing: border-box;
    height: 35px;
    font-size: 14px;
    line-height: 14px;
    background-color: rgba(0, 0, 0, .05);
    /*        #35a;*/
    border: 1px solid transparent;
    color: #666;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    display: inline-block;
}

.button.disapproved {
    background: #a22;
    color: white;
}

.button.approved {
    background: #2a2;
    color: white;
}

.post-filter[data-class="all"] {
/*    border: 1px solid #555;*/
}

.primary-button {
    background: #999;
    color: white;
}

.nav-left-text > #back-button {
    padding: 8px;
}

#nav-right > .button {
    float: right;
    margin: 10px 2px;
}

#delete-gallery-confirm,
#delete-post-confirm {
    /*    background-color: #A00;*/
    /*    color: #A00;*/
}

#upload-image,
#upload-pdf {
    position: relative;
    /*    margin: auto;*/
    color: #aaa;
    background-color: transparent;
    border: 1px dashed #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
}

.add-post {
    opacity: .5;
}

.post-card {
    position: relative;
    box-sizing: border-box;
    padding: 5px;
/*    margin: 10px;*/
    flex: 1 1 270px;
    /*    border: 1px solid #aaa;*/
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 1px 5px #777;
}

.post-card-text-block {
    
}

.post-card.owner {
    background-color: ghostwhite;
}

.post-card-title {
    font-size: 22px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.post-card-title > span {
    color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0px;
    right: 0;
/*    background: white;*/
}

.post-card-subtitle {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail {
    position: relative;
    text-align: center;
    background-color: #f8f8f8;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    /*    width: 280px;*/
    height: 200px;
    /*
    max-width: 250px;
    max-height: 250px;
    width: calc(30vw - 27px);
    height: calc(30vw - 27px);
*/
    margin: 0 0 3px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    text-overflow: ellipsis;
/*    overflow: hidden;*/
    /*    padding: 5px;*/
}

.thumbnailText {
    font-size: 24px;
    padding: 8px;
}

.thumbnail-placeholder {
    font-size: 28px;
    color: #888;
    background-color: ghostwhite;
    border: 1px dashed #aaa;
}

.thumbnail-placeholder > div,
#upload-image > div,
#upload-pdf > div {
    line-height: 200px;
}

.thumbButton {
    padding: 7px 5px 2px 5px;
    border-radius: 0 5px 0 5px;
    background: yellow;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.thumbButtonContainer {
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 22px;
/*    text-align: right;*/
    color: #888;
    width: 100%;
    height: 100%;
}

.award {
    background-color: #c33;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-artifacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
}

.small-iframe-holder {
    background:url(../imgs/loading.gif) center center no-repeat;
    height: 100%;
    margin-bottom: 50px;
}

.big-iframe-holder {
    background:url(../imgs/loading.gif) center center no-repeat;
/*    max-width: 400px;*/
    height: 40vw;
    max-height: 400px;
/*        500px;*/
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0px 1px 5px #777;
    overflow: hidden;
    word-break: break-all;
}

.big-iframe-holder>h5 {
    min-width: 100px;
    margin: 15px;
}

.small-frame {
    box-sizing: border-box;
    width: 200%;
    height: 400px;
    border: 0;
    -ms-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.big-frame {
    box-sizing: border-box;
    width: 200%;
    height: 80vw;
    max-height: 800px;
/*        1000px;*/
    border: 0;
    -ms-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/*
.big-frame {
    box-sizing: border-box;
    width: 100%;
    height: 70vw;
    border: 1px solid #555;
    box-shadow: 0px 1px 5px #777;
}
*/

#all-posts-container {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid #ccc;
}

#post-list,
#user-post-list {
    margin: 25px 0px 10px 0px;
    /*    min-height: 20px;*/
/*    padding-top: 20px;*/
    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
*/
    position: relative;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

/*
#user-post-list {
    position: relative;
    margin: 20px 0 20px 0;
    padding-top: 20px;
    min-width: 300px;
}
*/

#user-post-list:before {
    position: absolute;
    top: -27px;
    left: 0px;
    content: "YOUR POSTS to GALLERIES";
    line-height: 18px;
    font-size: 18px;
    color: #999;
}

#gallery-list,
#sandbox-list {
    margin: 35px 0 35px 0;
    position: relative;
    padding: 1px 0 1px 0;
    min-width: 300px;
}

#gallery-list:before {
    position: absolute;
    top: -9px;
    content: "PUBLIC GALLERIES";
    line-height: 18px;
    font-size: 18px;
    color: #C33;
/*    color: #999;*/
}

#sandbox-list:before {
    position: absolute;
    top: -9px;
    content: "YOUR IN-CLASS GALLERIES (NOT PUBLIC)";
    line-height: 18px;
    font-size: 18px;
    color: #C33;
/*    color: #999;*/
}

.gallery-listing {
    box-sizing: border-box;
/*    width: fit-content;*/
    cursor: pointer;
    width: 550px;
    max-width: 100%;
    white-space: nowrap;
    margin-top: 20px;
    padding: 9px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #777;
}

.gallery-listing > h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-weight: normal;
    font-size: 1.3em;
}

.post-buttons {
    text-align: right;
}

.post-title {
    margin-top: 3px;
}

.post-gallery {
    margin-bottom: 3px;
    color: #c33;
}

.post-class-name {
    margin-top: -17px;
}

.comment-block {
    background: #f5f5f5;
    box-shadow: 0px 1px 5px #777;
    min-height: 34px;
    margin: 30px 0;
    padding: 10px;
}

label {
    margin-right: 10px;
}

select {
    margin: 10px 0;
    font-size: 18px;
    background: #f9f9f9;
}

input[type=file] {
    /*    font-size: 100px;*/
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    #nav-container {
        padding-left: 8px;
    }
    .page-container {
        padding-left: 0;
    }
}